.nav{
    background-color: teal;
    color: white !important;
}

.navbar-brand{
    color: white !important;
}
.nav-link{
    color: white !important;
}
.logout{
    text-align: right;
}
.collapsibleNavbar{
    color: white !important;
}