{% extends 'admin_base.html' %}
{% load static %}

{% block main %}
<h5 class="profile">Change Admin Password</h5>

<div class="contain" style="height: max-content; margin-top: 30px;">
    <form action="" method="post" onsubmit="return onSubmitForm()">
        {% csrf_token %}
        <h3>Set New Password</h3>
        <div class="user_field">
            <label for="name">Old Password</label>
            <input type="text" name="old_pass" class="user_input" id="old_pass">
            <span id="old_pass_error" style="position: relative; top: -12px;"></span>
        </div>
       
        <div class="user_field">
            <label for="name">New Password</label>
            <input type="password" name="new_pass" class="user_input" id="new_password">
            <span id="new_password_error" style="position: relative; top: -12px;"></span>
        </div>
        <div class="user_field">
            <label for="name">Confirm Password</label>
            <input type="password" name="password" class="user_input" id="c_password">
            <span id="c_password_error" style="position: relative; top: -12px;"></span>
        </div>
        <div class="btn">
            <input type="submit" class="submit_btn" value="Login">
        </div>
    </form>
</div>

<script>
    let old_pass= document.getElementById('old_pass')
    let n_pass= document.getElementById('new_password')
    let c_pass= document.getElementById('c_password')
    flag=1

    function onSubmitForm(){
        if(old_pass.value == ''){
            document.getElementById('old_pass_error').innerHTML='Field is Required*'
            flag=0
        }else{
            document.getElementById('old_pass_error').innerHTML=''
            flag=1
        };
        if(n_pass.value == ''){
            document.getElementById('new_password_error').innerHTML='Field is Required*'
            flag=0
        }else{
            document.getElementById('old_pass_error').innerHTML=''
            flag=1
        };
        if(c_pass.value == ''){
            document.getElementById('c_password_error').innerHTML='Field is Required*'
            flag=0
        }else{
            document.getElementById('old_pass_error').innerHTML=''
            flag=1
        };

        if(n_pass.value != c_pass.value){
            alert('Password does not match')
        }
 
        
        if(flag){
                return true
            }else{
                return false
            }

    }
</script>


{% endblock %}